[project]
	description = A Rails plugin implementing the JSON-RPC 1.1 protocol for remote procedure calls
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew Song (comsi02)
[access "refs/for/refs/*"]
	read = group user/Andrew Song (comsi02)
	push = group user/Andrew Song (comsi02)
	label-Code-Review = -2..+2 group user/Andrew Song (comsi02)
	label-Verified = -1..+1 group user/Andrew Song (comsi02)
	rebase = group user/Andrew Song (comsi02)
	removeReviewer = group user/Andrew Song (comsi02)
	submit = group user/Andrew Song (comsi02)
[access "refs/heads/*"]
	read = group user/Andrew Song (comsi02)
	create = group user/Andrew Song (comsi02)
	push = +force group user/Andrew Song (comsi02)
	pushMerge = group user/Andrew Song (comsi02)
[access "refs/tags/*"]
	push = +force group user/Andrew Song (comsi02)
	pushTag = group user/Andrew Song (comsi02)
	pushSignedTag = group user/Andrew Song (comsi02)
